:root{
--eqoutline:rgba(161, 128, 128, 0.274);
--eqbackground:rgb(66, 65, 66);
}
body{
background-image:url('img/background.jpg');
background-size:cover;
background-repeat:no-repeat;
user-select:none; 
}
.gora2
{
margin-left:auto;
margin-right:auto;
}
.fight-grid{
display:flex;
justify-content:center;
color:goldenrod;
font-size:3em;
flex-wrap:wrap;
}
main{
width:100%;
display:flex;
justify-content:center;
align-items:center;
}
main img {
margin-top:1.5%;    
}    
.grid{
display:grid;
grid-template-columns:1fr 2fr 1fr;
grid-template-rows:250px 500px 250px;       
}
.obrazkistats{
width:75px;
height:75px;  
}
.dol2{
color:salmon; 
}
.inventory{
width:100%;
height:160px; 
display:flex;
justify-content:center;
}
.inventory-slots{
border:4px solid rgba(161, 128, 128, 0.274);
background-color:rgb(66, 65, 66);
background-size:contain;
background-repeat:no-repeat;
background-position:center center;
width:20%;
height:auto;
cursor: pointer;   
}
#prawo3{
display:flex;
flex-direction:column;
align-items:flex-end;   
}
.Ubrane{
width:40%;
height:450px
}
.sloty
{
border:4px var(--eqoutline) solid;
background-color:var(--eqbackground);
height:33%;
background-size:75%;
background-repeat:no-repeat;
background-position:center center;
cursor: pointer;
}
#slot1
{
background-image:url('img/protest.svg');
}
#slot2
{
background-image:url('img/chest.svg');
}
#slot3
{
background-image:url('img/ring.png');
}