:root{
--eqoutline:rgba(161, 128, 128, 0.274);
--eqbackground:rgb(66, 65, 66);
}
body{
background-image:url('img/background.jpg');
background-size:cover;
background-repeat:no-repeat;
user-select:none;
font-family: 'VT323', monospace;
}
.gora2
{
margin-left:auto;
margin-right:auto;
}
.fight-grid{
display:flex;
justify-content:center;
color:goldenrod;
font-size:3em;
flex-wrap:wrap;
}
main{
    display:flex;
    flex-direction:column;
    justify-content:flex-end;
    align-items:center;   
}
.refreshshopwrapper{
display:none;   
}
.refreshshopwrapper > button{
background-color:var(--eqoutline);
border: 2px solid black;
font-size:2em; 
font-family: 'VT323', monospace;
cursor:pointer;
line-height:60%;
letter-spacing:200%;
margin-bottom:5%;   
}
.refreshshopwrapper > button > img{
height:20px;
width:20px;
margin-left:5%;
}    
.grid{
display:grid;
grid-template-columns:1fr 2fr 1fr;
grid-template-rows:250px 400px 250px;       
}
.obrazkistats{
width:75px;
height:75px;  
}
.dol2{
color:salmon; 
}
.inventory{
width:100%;
height:160px; 
display:flex;
justify-content:center;
}
.inventory-slots{
border:4px solid rgba(161, 128, 128, 0.274);
background-color:rgb(66, 65, 66);
background-size:contain;
background-repeat:no-repeat;
background-position:center center;
width:20%;
height:auto;
cursor: pointer;   
}
#prawo3{
display:flex;
flex-direction:column;
align-items:flex-end;   
}
.Ubrane{
width:40%;
height:450px
}
.sloty
{
border:4px var(--eqoutline) solid;
background-color:var(--eqbackground);
height:150px;
background-size:75%;
background-repeat:no-repeat;
background-position:center center;
cursor: pointer;
}
#slot1
{
background-image:url('img/protest.svg');
}
#slot2
{
background-image:url('img/defaultchest.svg');
}
#slot3
{
background-image:url('img/defaultring.svg');
}
.tippy-box[data-theme~='informacja'] {
    background-color: rgba(18, 16, 22, 0.979);
    font-size:1.25em;
}
.tippy-box[data-theme~='informacjapotka'] {
    background-color: rgba(18, 16, 22, 0.979);
    font-size:1.25em;
    text-align:center;
}
.tippy-box[data-theme~='informacja'] > .tippy-arrow::before {
    transform: scale(0);
  }
  #myProgress {
    width: 100%;
    border:2px black solid;
    border-radius:5px;
    background-color: rgb(107, 47, 134);
    margin-left:auto;
    margin-right:auto;
    margin-bottom:0%;
}
#myBar {
    width: 1%;
    height: 15px;
    text-align: center;
    font-size:15px; 
    color: white;
    background-image:linear-gradient( to right,purple,orange);
    background-repeat: no-repeat;
    background-size:cover;
}
.xpvalue{
display:flex;
justify-content:center; 
}
.flexballs{
display:flex;    
justify-content:center;
}
.kolka{
width:25px;
height:25px;
margin-left:2%;
border:2px solid gold;
border-radius:50%;    
}
.gora1 span{
display:flex;
justify-content:center;
font-size:2em;
color:firebrick;
}
.stage{
margin-bottom:-3%;    
}
.wypelnione{
background-color:orange;    
}
.kolorowekolka{
animation-name:KoloroweKolka;
animation-duration:3s;
animation-iteration-count:infinite;
animation-direction:alternate-reverse; 
}
@keyframes KoloroweKolka{
    0%   {background-color: #ffd319;}
    25%  {background-color: #ff901f;}
    50%  {background-color: #ff2975;}
    75%  {background-color: #f222ff;}
    100% {background-color: #ffd319;}
}
.basestats{
height:50%;
border-bottom:  var(--eqoutline) solid;
display:flex;
flex-direction:column;
justify-content:space-around;
align-items:center;    
}
.addbasestats{
    height:50%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center; 
}
.staty 
{
width:100%;
height:20%;
display:flex;
justify-content:space-evenly;
vertical-align:middle;
margin-bottom:2%;
}
.staty > img{
width:25%;
margin-left:2%;    
}
.stats{
height:100%;
width:40%;
font-size:1.5em;
color:goldenrod;
background-color:var(--eqbackground);
border:4px var(--eqoutline) solid;  
}
.statynr{
margin-top:5%;
margin-left:10%;
margin-right:5%;
flex-grow:2;    
}
.statynrd{
margin-top:5%;
margin-left:10%;
margin-right:5%;
flex-grow:2;    
}
.addpoint{
font-size:1.5em;
border:none;
background-color:inherit;
color:goldenrod;
border:2px solid var(--eqoutline);
background-color:firebrick;
border-radius:50%;
line-height:10px;
padding: 8px;
cursor: pointer;
margin-right:2%;   
}
.addpoint:hover{
background-color:#04aa6d;  
}
.dol3{
display:flex;
align-items:flex-end;
justify-content:flex-end;    
}
.flexicons{
display:flex;
justify-content:center;
align-items:center;
width:80%;
cursor: pointer;
}
.ikonki  img{
width:100%;
height:100%;
object-fit:cover;
overflow:hidden;
}
.ikonki{
border:2px var(--eqoutline) solid;
display:flex;
justify-content:center;
width:70px;
background-color:var(--eqbackground);
}
.healthpotion{
background-color:rgb(183, 191, 214);
cursor: pointer;
}
.sklep{
display:flex;
justify-content:center;
flex-wrap:wrap;
width:100%;
height:20vh;
margin-bottom:3%;
}
.sklep div{
width:9vw;
height:10vh;
background-color:var(--eqbackground);
border:2px solid var(--eqoutline);
cursor: pointer;
background-repeat:no-repeat;
background-size:contain;
background-position:center;    
}
.zmientlo{
background-color:#222;
border:6px solid var(--eqoutline);
width:100%;
height:100%;   
}
.zmientlo > img{
width:180px;    
}
.goldamount{
color:gold;    
}
.goldamount img{ 
width:8%;
margin-bottom:4%;
margin-right:2%;
}
.coins img{
width:5%;
padding-top:1%;
margin-right:2%;
display: inline;    
}
.coins{
white-space:nowrap;
color:gold;
}
.ataki{
display:flex;
justify-content:center;
align-items:center;
margin-bottom:2%;
margin-top:3%;
width:40%;
display:flex;
justify-content:space-evenly;
background-color:var(--eqbackground);
border:3px solid var(--eqoutline);
border-radius:0.6rem;
padding:0.5%;
}
.akcjawalka{
height:100%;
width:15%;
border-radius:50%;
margin:0 2% 0 2%;
display:flex;
justify-content:center;
align-items:center;
background-color:black;
border:2px solid var(--eqoutline);
cursor: pointer; 
}
.akcjawalkaB{
    height:80%;
    width:10%;
    border-radius:50%;
    margin:0 2% 0 2%;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:black;
    border:2px solid var(--eqoutline);
    cursor: pointer;
    padding:1%;
    display:none;   
}
.akcjaobrazki{
width:80%;
height:80%;
overflow:hidden;  
}
#Back{
background-color:white;
}
.hideandshow{
animation-name:HideAndShow;
animation-fill-mode:forwards;
animation-duration:1s;
}
.normalselection{
    animation-name:NormalSelection;
    animation-fill-mode:forwards;
    animation-duration:1s;    
}
.showmoreoptionsMagic{
animation-name:SwapOutActionIconsMagic;
animation-duration:1s;
animation-fill-mode:forwards;    
}
.showmoreoptionsAstrology{
animation-name:SwapOutActionIconsAstrology;
animation-duration:1s;
animation-fill-mode:forwards;    
}
@keyframes SwapOutActionIconsMagic {
from{background-color:var(--eqbackground);}
to {background-color: #240faa;
border-color:#240faa;
}
}
@keyframes SwapOutActionIconsAstrology {
from{background-color:var(--eqbackground);}
to { background-color: #02a0eb;
border-color:#02a0eb;
}
}
@keyframes HideAndShow {
from{opacity:0;}
to{opacity:1;}
}
.akcjawalka:nth-child(2) > img{
width:70%;
height:70%;    
}
.obrazki{
width:300px;
margin-top:10%;
}
@media (max-width:1400px){
.stats{
width:60%;    
}
.zmientlo > img{
    width:300px;    
    }    
}
